.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;

  .login-nav{
    //height: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .login-form{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .body{
      width: 460px;
      padding: 32px;
      border-radius: 8px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, .12);
      box-shadow: 0 0 12px rgba(0, 0, 0, .12);

      .login-type{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;

        span{
          flex: 1;
          line-height: 32px;

        }
      }
    }
  }

  .login-footer{
    height: 60px;
  }
}
